* {
    font-family: 'Inter';
}

.start--section {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background-color: transparent;
}

.start--title {
    font-family: 'Karla';
    background-color: transparent;
    color: #293264;
    font-weight: 700;
    font-size: 4rem;
}

.start--section > h4 {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    background-color: transparent;
}

.start--button {
    background-color: #4D5B9E;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 52px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    transition-duration: .5s;
}

.start--button:hover {
    transform: scale(1.1);
}

.start--button:active {
    background-color: #414d86;
    scale: 1.1;
    transform: translateY(1px);
  }

